jupyterlab
ipywidgets
tqdm
fire
seaborn
palettable
wandb
numpy
scipy
pandas
scikit-learn
torch
torchvision
timm
jax[cuda]
flax
optax
distrax
blackjax
flaxmodels@git+https://github.com/matthias-wright/flaxmodels.git